<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!-- 주석을 지우고 mybatis 설정 파일 내용을 작성하세요. -->
    <properties resource="config/mybatis-config"/>

<!--    <settings>-->

<!--    </settings>-->


<!--    <typeAliases>-->

<!--    </typeAliases>-->


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.management.product.model.dao"/>
    </mappers>

</configuration>